.padding-left-nav{
    padding-left: 150px;
}

.padding-right-nav{
    padding-right: 150px;
}

.nav-padding-li{
    padding-top: 3px;
}

.nav-padding-li-left{
    padding-left: 10px;
}

.main-image{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.img-fade-in-up {
    animation: fadeInUp 1s ease forwards; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

nav,
footer {
    animation: fadeIn 1s ease forwards; 
}

.divider {
    border-top: 5px solid;
    color: rgb(101, 0, 101);
}

.hr-no-line{
    border: none;
}

.padding-about{
    padding-bottom: 2rem;
}

.tab{
    text-indent: 50;
}

.al-justify{
    text-align: justify;
}

.bg-image-blur {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

.al-center{
    text-align: center;
}
